<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- If using Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <h2 class='text-light bg-dark'>Welcome to the Real World</h2>
        <!-- resize for main view profile, fixed width in card -->
        <img  style="height: 200px; width: 200px; object-fit: cover;" src="/static/img/{{actor.profile_img}}" alt="actor profile pic">
        <h3>{{ actor.name }}</h3>
        <h4>Age: {{ actor.age }}</h4>

        <form class="col-4 offset-4" action="/actors/update" method="post">
            <input type="hidden" name="actor_id" value="{{actor.id}}">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="{{actor.name}}">
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" name="age" id="age" value="{{actor.age}}">
            </div>

            <input type="submit" value="Update">
        </form>

        <h3>Roles</h3>
        {% if actor.roles[0]['id'] != None %}
        <table class="mx-auto">
            <tr>
                <th>Title</th>
                <th>Release Date</th>
                <th>Role</th>
            </tr>

            {% for film in actor.roles %}
                <tr>
                    <td><a href="/movies/{{film.movie_id}}">{{ film.title }}</a></td>
                    <td>{{ film.release_date }}</td>
                    <td>{{ film.role }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        <form action="/cast/create" method="post">
            <h3>Add Role</h3>
            <input type="hidden" name="return_to" value="actor">
            <input type="hidden" name="actor_id" value="{{ actor.id }}">

            <div class="form-group">
                <label for="movie_id">Movie</label>
                <select name="movie_id" id="movie_id">
                    {% for movie in all_movies %}
                        <option value="{{ movie.id }}">{{ movie.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" name="role" id="role">
            </div>

            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>