<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- If using Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
        <h2 class='text-light bg-dark'>Welcome to the Real World</h2>
        <h3>{{ movie.title }}</h3>
        <a href="/movies/{{movie.id}}/edit">Edit</a>
        <h4>{{ movie.release_date }}</h4>
        <p>{{ movie.description }}</p>
        <p><a href="/movies/{{movie.id}}/edit">Edit</a> | <a href="/movies/{{movie.id}}/delete">Delete</a></p>

        <table class="mx-auto">
            <tr>
                <th>Role</th>
                <th>Actor</th>
            </tr>


            {% for role in movie.cast %}
                <tr>
                    <td>{{ role.role }}</td>
                    <td><a href="/actors/{{role.actor_id}}">{{ role.name }}</a></td>
                    <td><a href="/cast/{{role.id}}/delete/movie/{{movie.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

        <form action="/cast/create" method="post">
            <h3>Add Cast Member</h3>
            <input type="hidden" name="return_to" value="movie">
            <input type="hidden" name="movie_id" value="{{ movie.id }}">

            <div class="form-group">
                <label for="actor_id">Actor</label>
                <select name="actor_id" id="actor_id">
                    {% for actor in all_actors %}
                        <option value="{{ actor.id }}">{{ actor.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" name="role" id="role">
            </div>

            <input type="submit" value="Add">
        </form>
    </div>
</body>
</html>